.loading-list {
	background: url('../img/index-loader.gif') no-repeat center;
	height: 120px;
	margin: 0 auto;
    margin-top: 200px;
}

.loading-action {
	background: url('../img/action-loader.gif') no-repeat center;
	height: 30px;
	margin: 0 auto;
}

.loading-button {
	background: url('../img/button-loader.gif') no-repeat center;
	height: 20px;
	margin: 0 auto;
}
#vmControl {
    width: 300px;

}

#state {
    width: 177px;
}

#name {
    width: 300px;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.container {
    width: 75%;
}

h3 {
    display: inline;
}
