<div class="wrap">
	<div class="info">
		<button id="create_vm" class="btn btn-primary"><i class="icon-plus icon-white"></i>添加虛擬機</button>
	</div>

	<div class="list">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th>虛擬機名稱</th>
                <th>CPU#</th>
                <th>記憶體</th>
                <th>硬碟</th>
                <th>系统</th>
                <th>状态</th>
                <th>VNC 端口</th>
                <th>操作</th>
			</tr>	
		</thead>
		<tbody>
		</tbody>
		</table>	
	</div>
</div>
